.green
{
  text-align:center;
  color:white;
  background:green;
}

.Black
{
 background:black;
 color:white;
}

.Red
{
 background:red;
 color:White;
}

.Yellow
{
 background:yellow;
}
.Pic
{
 text-align:center;
}
body
{
  background-color:#4AF576
}

